
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #0b0b0b;
}

.font-geist-mono {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-geist-sans {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}